@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Imagine Photos</h1>
    <p>Life well captured <a href="https://docs.microsoft.com/aspnet/core">BTI_PHOTOS</a>.</p>
</div>
